:root {
    --color-light: #d3d3d3;
    --color-light-blue: #209cee;
    --color-darker: #141414;
    --color-yellow: #ffea00;
    --color-white: #ffffff;

    --fs-larger: 2rem;
    --fs-large: 1.8rem;
    --fs-medium-large: 1.6rem;
    --fs-medium: 1.4rem;
    --fs-medium-small: 1.2rem;
    --fs-standard: 1rem;
    --fs-small: 0.9rem;
    --fs-smaller: 0.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Ubuntu", sans-serif;
}

.flex-a-center {
    display: flex;
    align-items: center;
}

.right {
    justify-content: flex-end;
    margin-right: 1rem;
}

@keyframes hover-action {
    from {
        font-size: var(--fs-medium-small);
    }

    to {
        font-size: var(--fs-medium-large);
    }
}

i:hover {
    animation: hover-action 0.3s;
    cursor: pointer;
}

/*-----------------------------------------------------------------------*/

.container {
    --search-bar-h: 4rem;
    --user-bar-h: 5rem;
    --row: calc(calc(100vh - var(--search-bar-h) - var(--user-bar-h)) / 2);

    display: grid;
    grid-template: var(--search-bar-h) var(--user-bar-h) repeat(2, var(--row)) / 3fr 4fr 4fr 3fr;
    grid-template-areas:
        "dashboard nav nav nav"
        "dashboard user user user"
        "dashboard projects projects announcements"
        "dashboard projects projects trending";
}

.container div {
    border: 1px solid black;
}

/* .nav, .user-actions, .dashboard, .projects, .announcements, .trending {

} */

/*----------------------------------------------------------*/
.nav {
    background-color: var(--color-white);
    grid-area: nav;
    padding: 0 3rem;

    display: grid;
    grid-template: 1fr / 3fr 2fr;
    grid-template-areas: "search-bar user-menu";
}

.nav .nav-box form {
    width: 100%;
}

.nav .nav-box i {
    font-size: var(--fs-medium-small);
}

.nav .nav-box button {
    background-color: var(--color-white);
    border: none;
    border-radius: 100%;
    flex: 0;
}

.nav .nav-box input {
    margin-left: 1rem;
    height: var(--fs-medium-large);
    border-radius: 10px;
    border: none;
    background-color: var(--color-light);
    flex: 1;
}

.nav .nav-box a img {
    height: 45px;
    margin: 0 1.2rem;
    border-radius: 100%;
    box-shadow: 0 0 10px 10px var(--color-yellow) inset;
    border: 5px solid var(--color-yellow);
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.user-actions {
    background-color: aquamarine;
    grid-area: user;
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.dashboard {
    background-color: var(--color-light-blue);
    grid-area: dashboard;
}

.dashboard h2 {
    height: fit-content;
    width: 100%;
    color: var(--color-light);
    font-size: var(--fs-large);
}

.dashboard h2 img {
    margin: 1rem;
    box-shadow: 0 0 10px 2px var(--color-light);
}

.dashboard .dashboard-box {
    color: var(--color-light);
    font-weight: bold;
    font-size: var(--fs-medium-small);
    width: 100%;
    margin: 1rem 0 2rem;
    padding-left: 2rem;
    display: grid;
    grid-template: auto / 40px 1fr;
}

.dashboard .dashboard-box i,
.dashboard .dashboard-box h3 {
    margin: 6px 0;
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.projects {
    background-color: darkkhaki;
    grid-area: projects;
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.announcements {
    background-color: crimson;
    grid-area: announcements;
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.trending {
    background-color: firebrick;
    grid-area: trending;
}
/*----------------------------------------------------------*/
