:root {
    --color-light: #d3d3d3;
    --color-light-blue: #197bbd;
    --color-darker: #141414;
    --color-dark: #505050;
    --color-yellow: #ffea00;
    --color-orange: #ffc800;
    --color-white: #ffffff;

    --fs-larger: 2rem;
    --fs-large: 1.8rem;
    --fs-medium-large: 1.6rem;
    --fs-medium: 1.4rem;
    --fs-medium-small: 1.2rem;
    --fs-standard: 1rem;
    --fs-small: 0.9rem;
    --fs-smaller: 0.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Ubuntu", sans-serif;
}

.flex-a-center {
    display: flex;
    align-items: center;
}

.right {
    justify-content: flex-end;
    margin-right: 1rem;
}

@keyframes hover-action {
    from {
        font-size: var(--fs-medium-small);
    }

    to {
        font-size: var(--fs-medium-large);
    }
}

i:hover {
    animation: hover-action 0.3s;
    cursor: pointer;
}

/*-----------------------------------------------------------------------*/

.container {
    --search-bar-h: 4rem;
    --user-bar-h: 5.2rem;
    --row: calc(calc(100vh - var(--search-bar-h) - var(--user-bar-h)) / 2);

    display: grid;
    grid-template: var(--search-bar-h) var(--user-bar-h) repeat(2, var(--row)) / 3fr 4fr 4fr 3fr;
    grid-template-areas:
        "dashboard nav nav nav"
        "dashboard user user user"
        "dashboard projects projects announcements"
        "dashboard projects projects trending";
}

.container div {
    border: 1px solid black;
}

/* .nav, .user-actions, .dashboard, .projects, .announcements, .trending {

} */

/*----------------------------------------------------------*/
.nav {
    background-color: var(--color-white);
    grid-area: nav;
    padding: 0 3rem;

    display: grid;
    grid-template: 1fr / 3fr 2fr;
}

.nav .nav-box form {
    width: 100%;
}

.nav .nav-box i {
    font-size: var(--fs-medium-small);
}

.nav .nav-box button {
    background-color: var(--color-white);
    border: none;
    border-radius: 100%;
    flex: 0;
}

.nav .nav-box input {
    margin-left: 1rem;
    height: var(--fs-medium-large);
    border-radius: 10px;
    border: none;
    background-color: var(--color-light);
    flex: 1;
}

.nav .nav-box a img {
    height: 45px;
    margin: 0 1.2rem;
    border-radius: 100%;
    box-shadow: 0 0 10px 10px var(--color-yellow) inset;
    border: 5px solid var(--color-yellow);
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.user-actions {
    background-color: var(--color-white);
    grid-area: user;
    padding: 0 3rem;

    display: grid;
    grid-template: 2fr 3fr / 4.5rem 3fr 2fr;
    grid-template-areas: 
    "user-icon hi-there buttons"
    "user-icon username buttons";
}

.user-actions .user-icon {
    grid-area: user-icon;
}

.user-actions .user-icon a img {
    width: 100%;
    border-radius: 100%;
    box-shadow: 0 0 10px 10px var(--color-yellow) inset;
    border: 5px solid var(--color-yellow);
}

.user-actions .hi-there {
    grid-area: hi-there;
    padding-left: 1rem;
    align-self: flex-end;
}

.user-actions .username {
    grid-area: username;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: var(--fs-medium-small);
    font-weight: bold;
    align-self: flex-start;
}

.user-actions .buttons {
    grid-area: buttons;
}

.user-actions .buttons button {
    background-color: var(--color-light-blue);
    height: 2rem;
    width: 5rem;
    color: var(--color-white);
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-left: 1rem;
}

.user-actions .buttons button:hover {
    box-shadow: 0 0 1px 1px var(--color-light-blue);
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.dashboard {
    background-color: var(--color-light-blue);
    grid-area: dashboard;
}

.dashboard h2 {
    height: fit-content;
    width: 100%;
    color: var(--color-light);
    font-size: var(--fs-large);
}

.dashboard h2 img {
    margin: 1rem;
    box-shadow: 0 0 10px 2px var(--color-light);
}

.dashboard .dashboard-box {
    color: var(--color-light);
    font-weight: bold;
    font-size: var(--fs-medium-small);
    width: 100%;
    margin: 1rem 0 2rem;
    padding-left: 2rem;
    display: grid;
    grid-template: auto / 40px 1fr;
}

.dashboard .dashboard-box i,
.dashboard .dashboard-box h3 {
    margin: 6px 0;
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.projects {
    background-color: var(--color-light);
    grid-area: projects;

    display: grid;
    grid-template: 3rem 1fr / 1fr;
}

.projects .title-section {
    grid-area: 1 / 1 / 1 / -1;
    padding: 1.2rem 0 0 1rem;
    font-weight: bold;
}

.projects .projects-container {
    overflow: auto;
    grid-area: 2 / 1 / 2 / -1;
    display: grid;
    grid-template: repeat(auto-fill, minmax(150px, 1fr)) / repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    align-content: flex-start;
    padding: 0 1rem;
}

.projects .projects-container .project-card {
    padding-left: 0.5rem;
    border-left: 10px outset var(--color-orange);
    background-color: var(--color-white);
    border-radius: 10px;
}

.projects .projects-container .project-card .card-content {
    padding-right: 1rem;
    height: 80%;
    overflow: auto;
}

.projects .projects-container .project-card .card-content h4 {
    margin-top: 1.2rem;
    font-size: var(--fs-standard);
}

.projects .projects-container .project-card .card-content p {
    font-size: var(--fs-smaller);
    color: var(--color-dark);
}

.projects .projects-container .project-card .card-icons {
    text-align: right;
    padding-right: 1rem;
}

.projects .projects-container .project-card .card-icons i {
    margin-right: 0.5rem;
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.announcements {
    background-color: var(--color-light);
    grid-area: announcements;

    display: grid;
    grid-template: 2rem auto / 1fr;
    overflow: auto;
}

.announcements .title-section {
    grid-area: 1 / 1 / 1 / 1;
}
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.trending {
    background-color: firebrick;
    grid-area: trending;
}
/*----------------------------------------------------------*/
